/*
created by kasunrachintha on 12/6/22
@author : kasunrachintha
@Date :  12/6/22
@Time: 8:26 am
@Project : OMNIFOOD Project 
*/

/*Below 1344PX(Smaller desktop)  (84*16=1344)*/
@media (max-width: 84em) {
    .hero {
        max-width: 120rem;
    }

    .heading-primary {
        font-size: 4.4rem;
    }

    .gallery {

        grid-template-columns: repeat(2, 1fr);

    }
}

/*Below 1200(landscape tablet)  (75*16=1200)*/
@media (max-width: 75rem) {


}

